.filter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.filter-container select{
    height:3rem;
    background-color: #f3f3f3;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    padding: 4px;
    cursor:pointer;
}
.filter-container select:has( option:disabled:checked){
    background-color: rgb(112, 110, 110);
    color:rgb(255, 255, 255);
    
}

.filter-container h2{
    font-size: 1.6rem;
}